$gray1: #f5f5f5;
$gray2: #e5e5e5;
$textbold: #444444;
$textmid: #5c5c5c;
$textplain: #777777;

body {
  background-color: white;
  margin: 0;
  padding: 0;
  font-family: Verdana, Helvetica, sans-serif;
}

header {
  text-align: center;
  h2 { color: $textbold }
  h4 { color: $textmid }
}
