$gray1: #f5f5f5;
$gray2: #e5e5e5;
$textbold: #444444;
$textmid: #5c5c5c;
$textplain: #777777;

body {
  background-color: white;
  margin: 0;
  padding: 0;
  font-family: Verdana, Helvetica, sans-serif;
}

header {
  text-align: center;
  h2 { color: $textbold }
  h4 { color: $textmid }
}

#toolbar {
  background-color: $gray2;
  color: $textmid;
  margin: 0px;
  padding: 15px 120px;
}

#selectDisplay {
  display: inline;
  text-align: left;
  margin-right: 160px;
}

#searchBox {
  display: inline;
  text-align: left;
  input {
    width: 240px;
    padding: 4px;
  }
}

#mailbag {
  background-color: $gray1;
  color: $textmid;
  margin: 0px;
  padding: 15px 80px 60px 80px;
}

#mailtable {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 16px;
  th {
    padding: 12px;
    text-align: left;
  }
  td {
    @extend th;
    &.info {background-color: white}
  }
}

span.qorg {
  padding: 4px 8px;
  cursor: pointer;
}

select {
  margin-right: 16px;
}
